:root{
    --color-background: #ADB2D3;
    --text-color: #242424;
}
#quote-box{
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}
#quote-box .quote-text{
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
    color: var(--text-color);
}
#quote-box .quote-author{
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
    color: var(--text-color);
}

#quote-box .buttons{
    width: 450px;
    margin: auto;
}

.footer{
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 0.8em;
    color: #fff;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-quote svg{
    fill:#fff
}
.btn-quote{
    border: none;
    height: 38px;
    border-radius: 3px;
    color: #fff;
    padding: 8px 18px 6px 18px;
    margin: 30px 0.25rem 0 0.25rem;
    background-color: var(--text-color);
    cursor: pointer;
}
button.btn-quote:nth-of-type(2) {
    margin-left: auto;
}
  
